body {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 10%,
    rgb(245, 226, 226) 90%
  );
}
h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}
h1 {
  text-align: center;
  margin: 10px auto;
  padding: 30px 0px 10px 0px;
  color: #543a58;
  font-weight: bolder;
}
h2 {
  text-align: center;
  color: white;
  background: #63547d;
  opacity: 0.9;
  line-height: 1.5;
  padding: 10px 0px;
  border-radius: 10px;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}
p {
  text-align: justify;
  margin: 10px 10px 0px 0px;
  line-height: 1.2;
}
button {
  display: block;
  margin: 30px auto;
  padding: 20px 50px;
  border: 2px solid #63547d;
  border-radius: 20px;
  background: #63547d;
  box-shadow: 7px 7px 7px rgba(187, 179, 179, 0.982);
  color: white;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #eedde2;
  color: #63547d;
  border: 2px solid #63547d;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 10px 0px;
  text-align: center;
}

li {
  margin: 15px;
  padding: 0px 0px 20px 0px;
  display: inline;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.links {
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.fullPage {
  display: block;
  margin: 0px auto;
  max-width: 800px;
}
.footer {
  text-align: center;
  font-family: monospace;
  font-size: 11px;
  color: grey;
  padding: 0px 0px 20px 0px;
}
